

@{
    ViewBag.Title = "Index";
}
<div>
    <h2>Mantain Attendance</h2>
</div>
<style>
    .containerr {
        margin-left: 439px;
    }

    .btn {
        background-color: cornflowerblue;
        color: white;
    }

        .btn:hover {
            background-color: white;
            color: cornflowerblue;
        }

    h2 {
        background-color: cornflowerblue;
        color: white;
        text-align: center;
        font-family: Calibri;
    }
</style>

<div class="containerr">

    <input class="btn btn-block btn-default" type="button" value="January" onclick="location.href='@Url.Action("Create", "atten_January")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="February" onclick="location.href='@Url.Action("Create", "atten_feb")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="Class II" onclick="location.href='@Url.Action("Create", "atten_march")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="Class III" onclick="location.href='@Url.Action("Create", "atten_april")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="Class IV" onclick="location.href='@Url.Action("Create", "atten_may")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="Class V" onclick="location.href='@Url.Action("Create", "atten_June")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="Class VI" onclick="location.href='@Url.Action("Create", "atten_July")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="Class VII" onclick="location.href='@Url.Action("Create", "atten_aug")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="Class VIII" onclick="location.href='@Url.Action("Create", "atten_sep")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="Class IX" onclick="location.href='@Url.Action("Create", "atten_oct")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="Class X" onclick="location.href='@Url.Action("Create", "atten_nov")';return false;" />
    <input class="btn btn-block btn-default" type="button" value="Class X" onclick="location.href='@Url.Action("Create", "atten_dec")';return false;" />


</div>

<div>
    <img class="img-responsive" style="height: 318px;margin-top:-420px;margin-left: -65px;" src="~/images/Baby-Activities-551x374.jpg" />
    <img class="img-responsive" style="height: 348px;margin-top: -324px; margin-left: 720px;opacity: 0.4;" src="~/images/explotar-la-creatividad-del-niño.jpg" />
</div>



