@model WebApplication5.Models.timetable

@{
    ViewBag.Title = "Create";
}


<style>
    .heading {
        height: 45px;
        background-color: dodgerblue;
        color: white;
        width: 240px;
        border-radius: 14px;
        // margin-left: 380px;
        width: 100%;
        text-align: center;
    }

    .container1 {
        margin-top: -400px;
    }

    .btn {
        color: dodgerblue;
        background-color: white;
        text-decoration: none;
    }

        .btn:hover {
            color: white;
            background-color: dodgerblue;
        }
</style>

<br />
<br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="heading">

        <h3 style="color:white; padding-left: 6px; padding-top: 4px;font-family: calibri">Timetable Details</h3>
    </div>
    <br />
    <br />

    <div class="form-horizontal">
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.table_day, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table_day, new { htmlAttributes = new { @class = "form-control",placeholder="Day" } })
                @Html.ValidationMessageFor(model => model.table_day, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.table_session1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table_session1, new { htmlAttributes = new { @class = "form-control", placeholder = "Session1" } })
                @Html.ValidationMessageFor(model => model.table_session1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.table_session2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table_session2, new { htmlAttributes = new { @class = "form-control", placeholder = "Session2" } })
                @Html.ValidationMessageFor(model => model.table_session2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.table_session3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table_session3, new { htmlAttributes = new { @class = "form-control", placeholder = "Session3" } })
                @Html.ValidationMessageFor(model => model.table_session3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.table_session4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table_session4, new { htmlAttributes = new { @class = "form-control", placeholder = "Session4" } })
                @Html.ValidationMessageFor(model => model.table_session4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.table_session5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table_session5, new { htmlAttributes = new { @class = "form-control", placeholder = "Session5" } })
                @Html.ValidationMessageFor(model => model.table_session5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.table_session6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table_session6, new { htmlAttributes = new { @class = "form-control", placeholder = "Session6" } })
                @Html.ValidationMessageFor(model => model.table_session6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.table_session7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table_session7, new { htmlAttributes = new { @class = "form-control", placeholder = "Session7" } })
                @Html.ValidationMessageFor(model => model.table_session7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.table_session8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.table_session8, new { htmlAttributes = new { @class = "form-control", placeholder = "Session8" } })
                @Html.ValidationMessageFor(model => model.table_session8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-block btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
