@model WebApplication5.Models.atten_June

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>atten_June</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.total_days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.present)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.present)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Absents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Absents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.late)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.late)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_enrolment.Stu_f_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_enrolment.Stu_f_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
