@model WebApplication5.Models.teacher

@{
    ViewBag.Title = "Create";
}

<style>
    .heading {
        height: 45px;
        background-color: dodgerblue;
        color: white;
        width: 240px;
        border-radius: 14px;
        // margin-left: 380px;
        width: 100%;
        text-align: center;
    }

    .container1 {
        margin-top: -400px;
    }

    .btn {
        color: dodgerblue;
        background-color: white;
        text-decoration: none;
    }

        .btn:hover {
            color: white;
            background-color: dodgerblue;
        }
    </style>

<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="heading">

        <h3 style="color:white; padding-left: 6px; padding-top: 4px;font-family: calibri">Teacher Details</h3>
    </div>
    <br />
    <br />

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.teacher_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.teacher_id, new { htmlAttributes = new { @class = "form-control",placeholder="Id" } })
                @Html.ValidationMessageFor(model => model.teacher_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.teacher_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.teacher_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                @Html.ValidationMessageFor(model => model.teacher_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Teacherjoin_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Teacherjoin_date, new { htmlAttributes = new { @class = "form-control", placeholder = "Appointment-Date" } })
                @Html.ValidationMessageFor(model => model.Teacherjoin_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Qualification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control", placeholder = "Qualification" } })
                @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Teaching_course, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Teaching_course, new { htmlAttributes = new { @class = "form-control", placeholder = "Course" } })
                @Html.ValidationMessageFor(model => model.Teaching_course, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.teacher_contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.teacher_contact, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact" } })
                @Html.ValidationMessageFor(model => model.teacher_contact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.teacher_monthly_salary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.teacher_monthly_salary, new { htmlAttributes = new { @class = "form-control", placeholder = "Salary" } })
                @Html.ValidationMessageFor(model => model.teacher_monthly_salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-block btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <img style="height: 419px; margin-left: 530px; margin-top: -489px; opacity: 0.5;" src="~/images/Baby-Activities-551x374.jpg"  />
</div>
