
@{
    ViewBag.Title = "Enrollment";
}
<div>
    <h2>Enrollment</h2>
</div>
<style>
    .containerr {
        margin-left: 439px;
    }

    .btn {
        background-color: cornflowerblue;
        color: white;
    }

        .btn:hover {
            background-color: white;
            color: cornflowerblue;
        }

    h2 {
        background-color: cornflowerblue;
        color: white;
        text-align: center;
        font-family: Calibri;
    }
</style>



<div class="containerr">
    
    <input class="btn btn-block" type="button" value="Playgroup" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />
    <input class="btn btn-block" type="button" value="Class I" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />
    <input class="btn btn-block" type="button" value="Class II" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />
    <input class="btn btn-block" type="button" value="Class III" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />
    <input class="btn btn-block" type="button" value="Class IV" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />
    <input class="btn btn-block" type="button" value="Class V" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />
    <input class="btn btn-block" type="button" value="Class VI" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />
    <input class="btn btn-block" type="button" value="Class VII" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />
    <input class="btn btn-block" type="button" value="Class VIII" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />
    <input class="btn btn-block" type="button" value="Class IX" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />
    <input class="btn btn-block" type="button" value="Class X" onclick="location.href='@Url.Action("Create", "stu_enrolment")';return false;" />

</div>

<div>
    <img class="img-responsive" style="height: 291px;margin-top:-418px;" src="~/images/reading-programs2.jpg" />
    <img class="img-responsive" style="height: 291px;margin-top:-283px; margin-left:722px;" src="~/images/lecturas-infantiles-para-el-verano--478x270.JPG" />
</div>