@model WebApplication5.Models.eventss

@{
    ViewBag.Title = "Create";
}

<style>
    .heading {
        height: 45px;
        background-color: dodgerblue;
        color: white;
        width: 240px;
        border-radius: 14px;
        
        width: 100%;
        text-align: center;
    }

    .container1 {
        margin-top: -400px;
    }

    .btn {
        color: dodgerblue;
        background-color: white;
        text-decoration: none;
    }

        .btn:hover {
            color: white;
            background-color: dodgerblue;
        }
</style>

<br />
<br />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="heading">

        <h3 style="color:white; padding-left: 6px; padding-top: 4px;font-family: calibri">Events</h3>
    </div>
    <br />
    <br />

    <div class="form-horizontal">
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.events_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.events_name, new { htmlAttributes = new { @class = "form-control",placeholder="Event-Name" } })
                @Html.ValidationMessageFor(model => model.events_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.event_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.event_date, new { htmlAttributes = new { @class = "form-control", placeholder = "Event-Date" } })
                @Html.ValidationMessageFor(model => model.event_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.event_time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.event_time, new { htmlAttributes = new { @class = "form-control", placeholder = "Event-Time" } })
                @Html.ValidationMessageFor(model => model.event_time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.event_day, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.event_day, new { htmlAttributes = new { @class = "form-control", placeholder = "Event-Day" } })
                @Html.ValidationMessageFor(model => model.event_day, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-block btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <img style="height: 419px; margin-left: 530px; margin-top: -302px; opacity: 0.5;" src="~/images/black-and-white-christmas-ornaments-white-balls-shiny-silver-ball-hanging-isolated-on-background-ornaments-black-white-christmas-decorations-for-trees.jpg" />
</div>

