@model WebApplication5.Models.eventss

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>eventss</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.events_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.events_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_day)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.enents_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
