@model WebApplication5.Models.fee_Amount_June

@{
    ViewBag.Title = "Create";
}

<style>
    .heading {
        height: 45px;
        background-color: dodgerblue;
        color: white;
        width: 240px;
        border-radius: 14px;
        width: 100%;
        text-align: center;
    }

    .container1 {
        margin-top: -400px;
    }

    .btn {
        color: dodgerblue;
        background-color: white;
        text-decoration: none;
    }

        .btn:hover {
            color: white;
            background-color: dodgerblue;
        }
</style>

<br />
<br />










@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="heading">

        <h3 style="color:white; padding-left: 6px; padding-top: 4px;font-family: calibri">Fee Details</h3>
    </div>
    <br />
    <br />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fee_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fee_id, new { htmlAttributes = new { @class = "form-control", placeholder = "Id" } })
                @Html.ValidationMessageFor(model => model.fee_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.stu_fee_id, "stu_fee_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("stu_fee_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.stu_fee_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fee_Advance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fee_Advance, new { htmlAttributes = new { @class = "form-control", placeholder = "Lab-Charges" } })
                @Html.ValidationMessageFor(model => model.fee_Advance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fee_Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fee_Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Monthly Amount" } })
                @Html.ValidationMessageFor(model => model.Fee_Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fee_month_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fee_month_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Payment For The Month" } })
                @Html.ValidationMessageFor(model => model.fee_month_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fee_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fee_status, new { htmlAttributes = new { @class = "form-control", placeholder = "Yes or No" } })
                @Html.ValidationMessageFor(model => model.fee_status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fee_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fee_date, new { htmlAttributes = new { @class = "form-control", placeholder = "Date" } })
                @Html.ValidationMessageFor(model => model.fee_date, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-block btn-default" />
            </div>
        </div>
    </div>
}
